<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>登录</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="stylesheet" href="../AmazeUI-2.4.2/assets/css/amazeui.css" />
		<link href="../css/dlstyle.css" rel="stylesheet" type="text/css">

		<script src="../AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="../AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
		<!-- vue,axios,baseUrl -->
		<script src="js/plugins/vue/dist/vue.min.js"></script>
		<script src="js/plugins/axios/dist/axios.min.js"></script>
		<script src="js/commons.js"></script>
	</head>

	<body>

		<div class="login-boxtitle">
			<a href="home.html"><img alt="logo" src="../images/logobig.png" /></a>
		</div>

		<div class="login-banner">
			<div class="login-main" id="app">
				<div class="login-banner-bg"><span></span><img src="../images/big.jpg" /></div>

				<div class="login-box">

							<h3 class="title">绑定微信</h3>
							<h1 style="color: red" v-html="errorMsg"></h1>
							<div class="clear"></div>
						<div class="login-form">

						  <form v-model="user">
							   <div class="user-name">
								    <label for="user"><i class="am-icon-user"></i></label>
								    <input v-model="user.phone" type="text" name="" id="user" placeholder="手机">
								 </div>
								  <div class="verification">
									  <label for="code"><i class="am-icon-code-fork"></i></label>
									  <input type="tel" name="" v-model="user.code" id="code" placeholder="请输入验证码">

									  <!--button按钮在form表单内部，默认提交是submit提交-->
									  <button class="btn" v-html="htmlValue" type="button" :disabled="disabled" href="javascript:void(0);" @click="sendMobileCode" id="sendMobileCode">
										  获取
									  </button>
								  </div>
						   </form>
           		</div>
            
            <div class="login-links">
				<a href="register.html" class="zcnext am-fr am-btn-default">注册</a>
				<br />
            </div>
					<div class="am-cf">
						<input type="submit" @click="bindSubmit" name="" value="绑定微信" class="am-btn am-btn-primary am-btn-sm">
					</div>
					<div class="partner">
							<h3>合作账号</h3>
						<div class="am-btn-group">
							<li><a href="#"><i class="am-icon-qq am-icon-sm"></i><span>QQ登录</span></a></li>
							<li><a href="#"><i class="am-icon-weibo am-icon-sm"></i><span>微博登录</span> </a></li>
							<li><a href="#"><i class="am-icon-weixin am-icon-sm"></i><span>微信登录</span> </a></li>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="footer ">
			<div class="footer-hd ">
				<p>
					<a href="# ">恒望科技</a>
					<b>|</b>
					<a href="# ">商城首页</a>
					<b>|</b>
					<a href="# ">支付宝</a>
					<b>|</b>
					<a href="# ">物流</a>
				</p>
			</div>
			<div class="footer-bd ">
				<p>
					<a href="# ">关于恒望</a>
					<a href="# ">合作伙伴</a>
					<a href="# ">联系我们</a>
					<a href="# ">网站地图</a>
					<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>
				</p>
			</div>
		</div>
	</body>
	<script>
		new Vue({
			el: "#app",
			data: {
					user: {
					phone: "",
					code: "",
                    codeType: "",
					openid: "",
					access_token: ''
				},
				//初始化不禁用按钮
				disabled: false,
				htmlValue: "获取",
				//错误提示
				errorMsg:""
			},
			methods: {
			    // 绑定手机号
				bindSubmit(){
					let _this = this;
					this.$http.post("/wechat/bind",this.user).then(res=>{
                        let {success, message, resultObj} = res.data;
                        let {token, loginInfo} = resultObj;
                        // 将loginInfo对象转换成json字符串
                        let loginInfoStr = JSON.stringify(loginInfo);
						if(success){
                            // 保存resultObj中的token密钥和loginInfoStr到浏览器本地存储中
                            localStorage.setItem("token", token);
                            localStorage.setItem("loginInfo", loginInfoStr);
                            // 跳转到首页面
							window.location.href = "/index.html";
						}else{
							_this.errorMsg = message;
						}
					}).catch(error => {
						_this.errorMsg = error.msg;
					});
				},
				//发送手机验证码
				sendMobileCode() {
					if (!this.user.phone) {
						alert("手机号码必填!!");
						return;
					}
					//禁用按钮
					this.disabled = true;
					//设置初始值
					this.htmlValue = 10;
					//把vue的this赋值给一个变量方便取值
					let that = this;
					//开启定时器
					let intervalId = setInterval(function () {
						that.htmlValue--;
						if(!that.htmlValue){
							that.htmlValue = "获取";
							//开启禁用按钮
							that.disabled = false;
							//删除定时器
							clearInterval(intervalId);
						}
					}, 1000);

					//发送短信请求
					this.user.codeType = "BIND_CODE";
					this.$http.post("/code/sendCode", this.user).then((res) => {
						let {success, msg} = res.data;
						//提示用户一分钟以内不能连续发送多次
						if(!success){
							this.errorMsg = msg;
						}
					});
				},
			},
			mounted(){
			    // 页面一加载获取url中的access_token和openid
                var urlParams = new URLSearchParams(window.location.search);
				this.user.access_token = urlParams.get("access_token");
				this.user.openid = urlParams.get("openid");
			}
		});
	</script>
</html>